
body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #343E3D;
}
html{
    width: 100%;
}

a{
    color: #343E3D;
    /*text-decoration: none;*/
    font-weight: bold;
    /*text-wrap: normal;*/
}
a:active{
    color: #343E3D;
    /*text-decoration: none;*/
    font-weight: bold;
}
a:hover{
    color: #909595;
}

#containsAll{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

/*beginning of side panel */
#sidePanel{
    padding-left: 2.5%;
    width: 35%;
    background-color: #38E4AE;
    border: solid 2px #7BD389;
}
#topInfo{
    border-bottom: solid 3px #607466;
    width: 90%;
}
#topInfo h2, #topInfo h3{
    margin: 1% 0;
}
#bottomInfo h4, #bottomInfo p, #bottomInfo a,#softSkills h3, #hardSkills h3{
    margin: 0;
    /*background-color: black;*/
}
#bottomInfo{
    border-bottom: solid 3px #607466;
    width: 90%;
    padding-bottom: 2%;
}
.skillBar{
    height: 15%;
    /*padding: 2%;*/
    background-color: #50C9CE;
    width: 80%;
    border: solid 3px #607466;
    margin: 1% 0;
    border-radius: 15px;
}
.skillBar p{
    margin: 0;
    font-size: smaller;
    padding-left: .2em;
}
.skill9{
    width: 90%;
}
.collaboration, .skill8, .javascript{
    width: 80%;
}
.Persistence, .skill7{
    width: 70%;
}
.selfMotivation, .skill6_5, .nodejs{
    width: 65%;
}
.ionic, .skill7_5{
    width: 75%;
}
.html, .skill6_8{
    width: 68%;
}
.css, .skill6{
    width: 60%;
}
.cSharp, .skill5{
    width: 50%;
}
.aspNetCore, .skil4{
    width: 40%;
}
.java, .skill3{
    width: 30%;
}
.skill2{
    width: 20%;
}
.profilePic{
    border-radius: 50%;
}


/* beginning of main content */
#mainContent{
    padding-left: 2.5%;
    width: 65%;
    height: 100%;
    background-color: #E8F5ED;
}
#mainContent p, #mainContent h4, #mainContent h2, #mainContent h3, #mainContent a, #mainContent li{
    margin: 0;
    padding: 0;
}
#experience{
    border-top: solid 3px #607466;
}
#experience a{
    font-weight: normal;
}
#experience > h3{
    margin-bottom: 1em;
}
.topSep{
    border-top: solid 3px #607466;
}
